window {
    background-color: #000000;
    color: #c0c0c0;
    border: 2px solid #996633;
    border-radius: 12px;
    padding: 10px;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

#entry {
    padding: 6px 10px;
    margin: 3px;
    border-radius: 8px;
}

#entry image {
    padding: 5px 20px 5px 0px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #ffd166;
    color: #000000;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #c0c0c0;
    font-weight: bold;
    background-color: #000000;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid #000000;
    margin-bottom: 0px;
}

#inner-box {
    padding: 10px;
}

#outer-box {
    margin: 0;
    padding: 2px;
}

#scroll {
    margin: 0;
    padding: 0;
}
