[pyprland]
plugins = ["scratchpads", "expose", "shortcuts_menu"]

[scratchpads]
[scratchpads.kitty]
command = "kitty --class scratchpadkitty -e fish -c 'gifetch; exec fish'"
class = "scratchpadkitty"
animation = "fromTop"
size = "80% 60%"
margin = 50
lazy = true

[scratchpads.spotify]
command = "spotify --enable-features=UseOzonePlatform --ozone-platform=wayland"
class = "spotify"
animation = "fromBottom"
size = "60% 80%"
margin = 50
lazy = true

[scratchpads.telegram]
command = "~/apps/Telegram/Telegram -- %u"
class = "org.telegram.desktop._decf1c561a4aed2abacc212807487a55"
animation = "fromLeft"
size = "60% 80%"
margin = 50
lazy = true

[shortcuts_menu.entries]

"Color picker" = [
    {name="format", options=["hex","rgb","hsv","hsl","cmyk"]},
    "sleep 0.2; hyprpicker --format [format] | wl-copy"
]

"Clipboard history" = "cliphist list | fzf --no-sort --preview 'cliphist decode {1}' | cliphist decode | wl-copy"

"Webcam" = "mpv /dev/video0"

"Choose wallpaper" = "bash ~/scripts/set_wallpaper.sh manual"

"Hyprland logs" = 'kitty tail -f $XDG_RUNTIME_DIR/hypr/$HYPRLAND_INSTANCE_SIGNATURE/hyprland.log'
